.modal__fa-times {
  font-size: 26px;
  color: #888888;
  position: absolute;
  top: 34px;
  right: 34px;
  transition: all 0.2s ease-in-out;
}

.modal__fa-times:hover {
  font-size: 28px;
  color: #585858;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 586px;
  height: 592px;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 70px;
  z-index: 100;
}

.modal--no-display {
  display: none;
}

.modal__body {
  padding: 20px 50px 20px 50px;
}

.modal__heading {
  text-align: center;
  font-size: 28px;
}
